<a href="https://colab.research.google.com/github/geohead/Geocoding-workflows/blob/main/csv_geocoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Notebook to geocode columns in a csv

from google.colab import files

uploaded = files.upload()
my_csv = next(iter(uploaded))

Saving HSBC.csv to HSBC (1).csv

In [ ]:
import pandas as pd
import requests

In [ ]:
# Read CSV
centresDf = pd.read_csv(my_csv)

In [ ]:
# Print all the columns in the csv.
headers = centresDf.columns
print (headers)

Index(['Unnamed: 0', 'College / University', 'URL', 'Notes'], dtype='object')

In [ ]:
# Select and print the column which needs to be geocoded
centresDf['College / University'].head(5)

0    Alabama A & M University
1    Alabama State University
2     Albany State University
3     Alcorn State University
4            Allen University
Name: College / University, dtype: object

In [ ]:
# Your google API key goes here!
api_key = " "

In [ ]:
# base url with api key already defined inside.

base_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}&key={key}".format('{}',key=api_key)

In [ ]:
print (base_url)

https://maps.googleapis.com/maps/api/geocode/json?address={}&key=AIzaSyDnTqAB-UpUjG5AajbSdSiL5MBfVUmnhgc

In [ ]:
# if you already run the notebook the first time, the uncomment the lines below because the lat and lon list are already available

del (lat)
del (lon)

In [ ]:
lat =[]
lon =[]

#for item,sb in zip(centresDf['Name_1'],centresDf['Name_2']):
#  item = item +' '+sb+" Kenya"
#  new_item = item.replace(' ','+')

for new_item in centresDf['College / University']:
  print (new_item)
  b =base_url.format(new_item)



  try:
    response = requests.get(b)
    r = response.json()
    mylat = r['results'][0]['geometry']['location']['lat']
    mylon = r['results'][0]['geometry']['location']['lng']

    lat.append(mylat)
    lon.append(mylon)
    
  except Exception as err:
    print(f'Other error occurred: {err}')

Alabama A & M University
Alabama State University
Albany State University
Alcorn State University
Allen University
Arkansas Baptist College
Benedict College
Bennett College for Women
Bethune-Cookman University
Bishop State Community College
Bluefield State College
Bowie State University
Central State University
Cheyney University of Pennsylvania
Claflin University
Clark Atlanta University
Clinton Junior College
Coahoma Community College
Concordia College-Selma
Coppin State University
Delaware State University
Denmark Technical College
Dillard University
Edward Waters College
Elizabeth City State University
Fayetteville State University
Fisk University
Florida Agricultural and Mechanical University
Florida Memorial University
Fort Valley State University
Gadsden State Community College
Grambling State University
H Councill Trenholm State Technical College
Hampton University
Harris-Stowe State University
Howard University
Huston-Tillotson University
Interdenominational Theological Center
J F Drake State Technical College
Jackson State University
Jarvis Christian College
Johnson C Smith University
Kentucky State University
Lane College
Langston University
Lawson State Community College-Birmingham Campus
Le Moyne-Owen College
Lincoln University
Lincoln University of Pennsylvania
Livingstone College
Meharry Medical College
Miles College
Mississippi Valley State University
Morehouse College
Morehouse School of Medicine
Morgan State University
Morris College
Norfolk State University
North Carolina A & T State University
North Carolina Central University
Oakwood University
Paine College
Paul Quinn College
Philander Smith College
Prairie View A & M University
Rust College
Saint Augustines College
Saint Pauls College
Savannah State University
Selma University
Shaw University
Shelton State Community College
South Carolina State University
Southern University and A & M College
Southern University at New Orleans
Southern University at Shreveport
Southwestern Christian College
Spelman College
St Philips College
Stillman College
Talladega College
Tennessee State University
Texas College
Texas Southern University
Tougaloo College
Tuskegee University
University of Arkansas at Pine Bluff
University of Maryland Eastern Shore
University of the District of Columbia
University of the Virgin Islands
Virginia State University
Virginia Union University
Virginia University of Lynchburg
Voorhees College
West Virginia State University
Wilberforce University
Wiley College
Winston-Salem State University
Xavier University of Louisiana

In [ ]:
print(len(lat))
print(len(lon))

99
99

In [ ]:
print((lat))
print((lon))

In [ ]:
# Append the lat and lon list results to my dataframe.

centresDf['latitude']=lat
centresDf['longitude']= lon

In [ ]:
# print the first 5 rows of my dataframe.

centresDf.head(5)

   Unnamed: 0      College / University  ...   latitude  longitude
0           0  Alabama A & M University  ...  34.783841 -86.572224
1           1  Alabama State University  ...  32.363658 -86.294017
2           2   Albany State University  ...  31.569056 -84.140389
3           3   Alcorn State University  ...  31.874204 -91.137292
4           4          Allen University  ...  34.010733 -81.020253

[5 rows x 6 columns]

In [ ]:
centresDf.to_csv('Results.csv')
files.download('Results.csv')